<html ng-app="firstApp">
  <head>
    <meta charset="utf-8">
    <title>site</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <form name="statusForm" ng-controller="UserController as userCtrl" ng-submit="userCtrl.setStatus()">
      <input type="text" ng-model="userCtrl.user" placeholder="name">
      <input type="text" ng-model="userCtrl.message" placeholder="Sveiki!">
      <button type="submit">Set Status</button>
    <form>
    <hr>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
