<html ng-app="firstApp">
  <head>
    <meta charset="utf-8">
    <title>site</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      <form name="statusForm" ng-controller="UserController as userCtrl" ng-submit="userCtrl.setStatus()">
      <!-- required so that user needs to input -->
      <input type="text" required ng-model="userCtrl.user" placeholder="name">
      <input type="text" required ng-model="userCtrl.message" placeholder="Sveiki!">
      <button type="submit">Set Status</button>
    <form>
    <hr>

    <!-- <div ng-repeat="fruit in fruit_array">{{element}}</div> -->
    <article style="float: left;" ng-controller="StatusController as statusCtrl">
      <section ng-repeat="status in statusCtrl.statuses">
        <header>
          <h4>{{status.user}}</h4>
        </header>
        <br>
        <div>{{status.message}}</div>
        <hr/>
      </section>
    </article>

    <article style="float: right;" ng-controller="StatusController as statusCtrl">
      <section ng-repeat="status in statusCtrl.statuses">
        <header>
          <h4>{{status.user}}</h4>
        </header>
        <br>
        <textarea ng-model="status.message"></textarea>
        <hr/>
      </section>
    </article>

    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
