/*** BASE STYLES ***/
* {
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.fluid-image {
  width: 100%;
}

/*** MENU ***/

.menu .menu--items .menu--item {

}

.menu--items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #ccc;
}

.menu--item {
  margin: 10px;
  display: inline-block;
}

.main {
  display: flex;
  flex-wrap: wrap;
}

/*** ARTICLE ***/

.article {
  position: relative;
  width: 100%;
  padding: 20px;
}


.article-header {
  position: absolute;
  top: 0;
  padding: 20px;
}

.article-header a {
  color: #fff;
  text-decoration: none;
}

.article-image {
  width: 100%;
  float: left;
  padding: 0px;
}

.article-paragraph {
  position: absolute;
  bottom: 0;
  padding: 20px;
}


@media screen and (min-width: 640px) {

/*** ARTICLE ***/

  .article {
    width: 50%;
  }

  .article-header {
    position: relative;
    padding: 0;
  }

  .article-header a {
    color: #333;
  }

  .article-image {
    width: 50%;
    float: left;
    padding: 0 15px 15px 0;
  }

  .article-paragraph {
    position: relative;
    padding: 0;
  }

}
